@using MudBlazor

@page "/"

<MudButtonGroup Color="Color.Primary" Variant="Variant.Text">
    <MudButton Variant="Variant.Filled" OnClick="NewPlayerWindow" hidden="@(playerWindow != null)" StartIcon="@Icons.Material.Filled.Add" Disabled=@(playerWindow != null)>Player Window</MudButton>

    <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles" Style="margin-top:0px !important">
        <ButtonTemplate>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       for="@context.Id">
                Select Map
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>
    @if (playerWindow != null && !String.IsNullOrEmpty(imageBase64))
    {
        <MudButton Variant="Variant.Filled" OnClick="UpdatePlayerWindow">Update Player View</MudButton>
    }
</MudButtonGroup>

<br />
@if (!String.IsNullOrEmpty(imageBase64))
{
    <div class="image-container" id="mapView">
        <MudImage class="control" id="controlMap" src="@imageBase64" Width="1600" Height="900" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.LeftTop"/>
        <div class="draggable" id="mapViewPort" style="top: 0; left: 0;" 
        @onmouseleave="OnViewPortMouseUp" 
        @onmousedown="OnViewPortMouseDown" 
        @onmouseup="OnViewPortMouseUp" 
        @onmousemove="OnViewPortMouseMove"
        @onwheel="OnViewPortMouseMove"
        @onmousewheel="OnViewPortMouseMove"></div>

        <canvas id="maskCanvas" width="1600" height="1600" style="position: absolute; top: 0; left: 0;"></canvas>
    </div>
}

<style>
    .draggable {
        position: absolute;
        width: 160px; /* Adjust the width and height as needed */
        height: 90px;
        box-sizing: border-box; /* Include border in width and height */
        z-index: 999; /* Ensure it's above the image */
        /* Create the black outer border */
        outline: 2px solid white;
        background-color: rgba(0, 0, 255, 0.5); /* Adjust the transparency by changing the last value (0.5) */
    }

    .control {
        background-color: grey;
    }

    .image-container {
        position: relative;
    }
</style>
