@if (!String.IsNullOrEmpty(imageBase64))
{
    <div style="width: calc(100vh * 16 / 9 - 16px); height: calc(100vh - 9px); display: flex; justify-content: center; align-items: center;">
        <div style="position: relative;">
            <img src="@imageBase64" class="myImage" id="playerMap" style="display: none;" />
        </div>

        <canvas id="playerMapCanvas" style="overflow: hidden; background-color: #000000;"></canvas>
    </div>
}