@using MudBlazor

@if (!String.IsNullOrEmpty(imageBase64))
{
    <div style="position: relative; height: 100vh; overflow: hidden;">
        <div style="display: flex; justify-content: center; background-color: black; height: 100%;">
            <MudImage src="@imageBase64" class="myImage"/>
        </div>

        <div style="position: fixed; top: 0; left: 0; z-index: 999;">
            <MudImage src="@overlayGridImageBase64" />
        </div>
    </div>
}
